<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="relative w-full min-h-screen flex flex-col"
    [ngClass]="isDark ? 'bg-[var(--dark-navy-950)]' : 'bg-[var(--light-gray-300)]'">
    @if (isDark == false) {
    <img src="./images/bg-desktop-light.jpg" alt="banner" class="absolute h-60 w-full" />
    } @else {
    <img src="./images/bg-desktop-dark.jpg" alt="banner" class="absolute h-60 w-full" />
    }

    <div class="relative z-10 lg:w-[40%] w-[80%] h-auto flex flex-col justify-between items-center mx-auto pt-6">
        <div class="w-full h-20 flex flex-row justify-between items-center mb-4">
            <p class="text-[40px] uppercase font-semibold tracking-[1rem] text-[var(--light-gray-300)]">
                todo
            </p>
            <button class="w-[30px] h-[30px] cursor-pointer" (click)="switchMode()">
                @if (isDark == false) {
                <img src="./images/icon-moon.svg" alt="icon" />
                } @else {
                <img src="./images/icon-sun.svg" alt="icon" />
                }
            </button>
        </div>

        <div class="w-full h-20">
            <input type="text" placeholder="Create a new todo"
                class="w-full focus:outline-none rounded cursor-pointer px-8 py-4 mb-4" #input
                (keydown.enter)="addTodo(input.value); input.value = ''" [ngClass]="
          isDark
            ? 'bg-[var(--dark-navy-900)] text-[var(--dark-purple-300)]'
            : 'bg-[var(--light-gray-300)] text-[var(--light-navy-850)]'
        " />
        </div>

        <ul class="w-full h-auto flex flex-col justify-around rounded px-4" [ngClass]="
        isDark
          ? 'bg-[var(--dark-navy-900)] text-[var(--dark-purple-300)]'
          : 'bg-[var(--light-gray-300)] text-[var(--light-navy-850)]'
        " 
        cdkDropList 
        (cdkDropListDropped)="dragAndDrop($event)"
        >
            <li class="w-full flex flex-row text-center items-center py-4">
                <div class="flex justify-center items-center w-[26px] h-[26px] rounded-full cursor-pointer"
                    style="background: var(--bg-color)">
                    <img src="./images/icon-check.svg" alt="check icon" class="w-[14px] h-[14px]" />
                </div>
                <p class="text-base ps-8 line-through"
                    [ngClass]="isDark ? 'text-[var(--dark-purple-700)]' : 'text-[var(--light-gray)]'">
                    Complete online JavaScript course
                </p>
            </li>

            @for (item of filteredTodo; track $index) {
            <div class="flex items-center py-4" (click)="toggleCheck($index)" (mouseenter)="HoverIndex = $index"
                (mouseleave)="HoverIndex = null" [ngClass]="
            isDark ? 'border-t-1 border-b-1 border-solid border-[var(--dark-purple-700)]' : ''
          " cdkDrag>
                <div class="flex justify-center items-center w-[26px] h-[26px] rounded-full cursor-pointer hover:border-1"
                    [ngClass]="[
              item.checked ? 'check-bg' : '',
              isDark ? 'bg-[var(--dark-navy-900)] hover-border' : 'bg-[var(--light-purple-500)]',
            ]">
                    @if (item.checked) {
                    <img src="./images/icon-check.svg" alt="check icon" class="w-[14px] h-[14px]" />
                    }
                </div>
                <li class="text-base ps-8" [ngClass]="[
              isDark ? 'text-[var(--dark-purple-300)]' : '',
              item.checked
                ? isDark
                  ? 'line-through text-[var(--dark-purple-700)]'
                  : 'line-through text-[var(--light-gray)]'
                : 'no-underline',
            ]">
                    {{ item.text }}
                </li>
                @if (HoverIndex === $index) {
                <div class="flex justify-center items-center w-[26px] h-[26px] cursor-pointer ms-auto"
                    (click)="deleteTodo(item)">
                    <img src="./images/icon-cross.svg" alt="delete" />
                </div>
                }
            </div>
            }
            @if (todoList.length > 0) {
            <div class="flex items-center justify-between pe-4 py-4">
                <p class="text-sm text-[var(--light-gray-600)]">{{ filteredTodo.length }} items left</p>

                <div class="md:w-50 md:flex md:justify-between hidden">
                    <button class="text-base cursor-pointer" [ngClass]="[
                currentFilter === 'all'
                  ? 'text-[var(--main-blue)]'
                  : 'text-[var(--light-gray-600)]',
                isDark
                  ? 'hover:text-[var(--dark-purple-100)]'
                  : 'hover:text-[var(--light-navy-850)]',
              ]" (click)="setFilter('all')">
                        All
                    </button>
                    <button class="text-base cursor-pointer" [ngClass]="[
                currentFilter === 'active'
                  ? 'text-[var(--main-blue)]'
                  : 'text-[var(--light-gray-600)]',
                isDark
                  ? 'hover:text-[var(--dark-purple-100)]'
                  : 'hover:text-[var(--light-navy-850)]',
              ]" (click)="setFilter('active')">
                        Active
                    </button>
                    <button class="text-base cursor-pointer" [ngClass]="[
                currentFilter === 'completed'
                  ? 'text-[var(--main-blue)]'
                  : 'text-[var(--light-gray-600)]',
                isDark
                  ? 'hover:text-[var(--dark-purple-100)]'
                  : 'hover:text-[var(--light-navy-850)]',
              ]" (click)="setFilter('completed')">
                        Completed
                    </button>
                </div>

                <button class="text-sm text-[var(--light-gray-600)] cursor-pointer" [ngClass]="
              isDark ? 'hover:text-[var(--dark-purple-100)]' : 'hover:text-[var(--light-navy-850)]'
            " (click)="clearTodo()">
                    Clear Completed
                </button>
            </div>
            }
        </ul>

        <div 
        class="w-full flex items-center justify-center md:hidden py-3 my-4 rounded"
        [ngClass]="
            isDark
            ? 'bg-[var(--dark-navy-900)] text-[var(--dark-purple-300)]'
            : 'bg-[var(--light-gray-300)] text-[var(--light-navy-850)]'
        "
        >
            <button class="text-base cursor-pointer pe-2" [ngClass]="[
              currentFilter === 'all' ? 'text-[var(--main-blue)]' : 'text-[var(--light-gray-600)]',
              isDark ? 'hover:text-[var(--dark-purple-100)]' : 'hover:text-[var(--light-navy-850)]',
            ]" (click)="setFilter('all')">
                All
            </button>
            <button class="text-base cursor-pointer px-4" [ngClass]="[
              currentFilter === 'active'
                ? 'text-[var(--main-blue)]'
                : 'text-[var(--light-gray-600)]',
              isDark ? 'hover:text-[var(--dark-purple-100)]' : 'hover:text-[var(--light-navy-850)]',
            ]" (click)="setFilter('active')">
                Active
            </button>
            <button class="text-base cursor-pointer ps-2" [ngClass]="[
              currentFilter === 'completed'
                ? 'text-[var(--main-blue)]'
                : 'text-[var(--light-gray-600)]',
              isDark ? 'hover:text-[var(--dark-purple-100)]' : 'hover:text-[var(--light-navy-850)]',
            ]" (click)="setFilter('completed')">
                Completed
            </button>
        </div>

        <div class="pt-6">
            <p class="text-xs font-thin"
                [ngClass]="isDark ? 'text-[var(--dark-purple-600)]' : 'text-[var(--light-navy-850)]'">
                Drag and drop to reorder list
            </p>
        </div>
    </div>
</main>

<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->