<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="relative w-full min-h-screen flex flex-col">

    <img src="./images/bg-desktop-light.jpg" alt="banner">

    <div class="absolute w-[40%] h-auto flex flex-col justify-between items-center top-6 left-1/2 -translate-x-1/2">

        <div class="w-full h-20 flex flex-row justify-between items-center mb-4">
            <p class="text-[40px] uppercase font-semibold tracking-[1rem] text-[var(--light-gray-300)]">todo</p>
            <button class="w-[30px] h-[30px] cursor-pointer">
                <img src="./images/icon-moon.svg" alt="icon">
            </button>
        </div>

        <div class="w-full h-20">
            <input type="text" placeholder="Create a new todo" class="w-full bg-[var(--light-gray-300)] text-[var(--light-navy-850)] focus:outline-none rounded cursor-pointer px-8 py-4 mb-4"
            #input (keydown.enter)="addTodo(input.value); input.value = '' ">
        </div>

        <ul class="w-full h-auto flex flex-col justify-around rounded bg-[var(--light-gray-300)] text-[var(--light-navy-850)] px-4 py-4">
            <li class="w-full">
                <div class="flex justify-center items-center w-[26px] h-[26px] rounded-full cursor-pointer" style="background: var(--bg-color);">
                    <img src="./images/icon-check.svg" alt="check icon" class="w-[14px] h-[14px]">
                </div>
            </li>
            
            @for (item of todoList; track $index; let i = $index) {
                <div 
                class="flex items-center py-4"
                (mouseenter)="HoverIndex = i"
                (mouseleave)="HoverIndex = null"
                >
                    <div 
                    (click)="toggleCheck()"
                    class="flex justify-center items-center w-[26px] h-[26px] rounded-full cursor-pointer hover:border-1" 
                    [ngClass]="isClick ?  'check-bg' : 'bg-[var(--light-purple-500)]' "
                    >
                        <img src="./images/icon-check.svg" alt="check icon" class="w-[14px] h-[14px]">
                    </div>
                    <li class="text-base ps-8">{{ item }}</li>
                    @if (HoverIndex === i) {
                        <div 
                        class="flex justify-center items-center w-[26px] h-[26px] cursor-pointer ms-auto"
                        >
                            <img src="./images/icon-cross.svg" alt="delete">
                        </div>
                    }
                </div>
            }
        </ul>
    </div>

</main>


<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->