/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import 'tailwindcss';


:root {
    /* Primary */
    --main-blue: hsl(220, 98%, 61%);
    --bg-color: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Light Theme */
    --light-gray: hsl(0, 0%, 98%);
    --light-purple-500: hsl(234, 39%, 85%);
    --light-gray-300: hsl(233, 11%, 84%);
    --light-gray-600: hsl(236, 9%, 61%);
    --light-navy-850: hsl(235, 19%, 35%);

    /* Dark Theme */
    --dark-navy-950: hsl(235, 21%, 11%);
    --dark-navy-900: hsl(235, 24%, 19%);
    --dark-purple-300: hsl(234, 39%, 85%);
    --dark-purple-100 (hover): hsl(236, 33%, 92%);
    --dark-purple-600: hsl(235, 16%, 43%);
    --dark-purple-700: hsl(233, 14%, 35%);
    --dark-purple-800: hsl(237, 14%, 26%);
    --dark-gray-600: hsl(236, 9%, 61%);
}

@layer base {
    html, body {
        @apply text-lg;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}